<div *ngIf="activeDepartment && !department">
   <button mat-flat-button color="primary" (click)="departmentService.add()">
      Add department
   </button>
</div>

<mat-card>
   <button *ngIf="!activeDepartment && department" (click)="backToDepartment()" mat-fab >Back</button>
   <app-department-item-list *ngIf="activeDepartment" (showDepart)="showDepartment($event)"></app-department-item-list>
   <app-department-show *ngIf="!activeDepartment && department" [department]="department"></app-department-show>

   <h1 *ngIf="!activeDepartment && !department">No found data</h1>
</mat-card>